includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 5
    paths:
        - src
    reportUnmatchedIgnoredErrors: false
    bootstrapFiles:
        - stubs/DebugBar.stub.php
    ignoreErrors:
        -
            identifier: arguments.count
            path: src/Support/RedisStore.php
        -
            identifier: argument.type
            path: src/Support/RedisStore.php
        -
            identifier: argument.type
            path: src/Support/RedisScanner.php
        -
            identifier: trait.unused
            path: src/Traits/Cacheable.php
        -
            identifier: trait.unused
            path: src/Relations/*
        -
            message: '#class_exists\(\) with .+ will always evaluate to false#'
            path: src/CacheServiceProvider.php
